.container {
    width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
main{
    width: 850px;
    margin: 0 auto;
    display: flex;
}
.left{
    border: 2px solid red;
    width: 180px;
    height: 270px;
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.card_user{
    border: 2px solid blue;
    border-radius: 4px;
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 16px;
    font-family: arial;
}

.card_user>img{
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
}

.right{
    font-family: Arial;
    border: 2px solid red;
    width: 600px;
}

section.friends{
    border: 2px green solid;
    height: auto;
    /* display: flexbox; */
    align-items: center;
    /* flex-direction: row; */
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 12px;
}



.user>h3{
    border: 2px solid red;
    font-size: 15px;
}

/* .friends>.num_likes{
    margin-left: 10px; */
    /* display: flexbox;
    align-items: center;
    justify-content: center; */
/* } */

.numero_likes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: flex-end;
}


/* .num_likes>.friend_name{ 
    flex: 1;
    margin-left: 10px;
} */

/* .status{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border: solid 1px red;
} */

.friends{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 56px; */
    padding: 5px 12px;
    /* column-gap: 8px; */
    border-bottom: 2px solid rgba(128, 128, 128, 0.121);
}

.friends>.numero_likes{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    align-self: flex-start;
    margin-top: 5px;
    margin-left: 70px;
    border: solid 1px red;
    /* padding: 10px 10px;
    margin-left: 120px; */
    
}

.numero_likes>.button{
    width: 50px;
    height: 30px;
    background-color:gold;
    color: black;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.numero_likes>.button:hover{
    background-color: #ffc107;
}