.container {
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
main{
    width: 900px;
    margin: 0 auto;
    display: flex;
}
.left{
    /* border: 2px solid red; */
    width: 180px;
    height: 270px;
    margin: 45px 0px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.card_user{
    border: 2px solid #6c6c6c;
    border-radius: 4px;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 16px;
    font-family: arial;
    background-color: #f4f4f4;
    margin-top: -20px;

}

.card_user> img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px auto 10px;
}

.card_user>h3{
    margin-top: 40px;
}

.right{
    font-family: Arial;
    /* border: 2px solid red; */
    width: 800px;
}

.user>h3, .numero_likes{
    margin: auto;
    margin-top: 10px;
}



.friends{
    display: flex;
    align-items: center;
    height: auto;
    border: 2px #6c6c6c solid;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 12px;
    /* flex-direction: row; */
    padding: 5px 12px;
    /* border-bottom: 2px solid rgba(128, 128, 128, 0.121); */
    background-color: #f4f4f4;
}

.friends>.user>h3{
    /* border: 2px solid red; */
    font-size: 17px;
}

.numero_likes{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    align-self: flex-start;
    margin-top: 5px;
    margin-left: 70px;
    /* border: solid 1px red; */
   
}

.numero_likes>.button{
    width: 50px;
    height: 30px;
    background-color:gold;
    border-radius: 4px;
    color: black;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.numero_likes>.button:hover{
    background-color: #ffc107;
}